---
import BaseLayout from '../layouts/BaseLayout.astro';


import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Ryan Rushlow" description="Get to know me a bit!">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by! Take a gander, get to know me."
			>
				<img
					width="1553"
					height="873"
					src="/assets/coder.png"
					alt="Ryan deep coding"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						
I am a dedicated digital professional with extensive experience in SEO, web development, and Google Ads. My expertise includes crafting scalable strategies, optimizing search rankings, and building high-performing ad campaigns that deliver measurable results. From developing custom websites and SEO tools to enhancing site performance and managing data-driven ad strategies, I blend technical expertise with marketing innovation to drive growth. My goal is to help businesses improve visibility, boost engagement, and achieve long-term success in today’s competitive digital landscape.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Tools I Use</h2>
				<div class="content">
					<p>With a focus on strategy and execution, I specialize in SEO, web development, and creating custom-built SEO tools and web scrapers. Leveraging technologies like Python, Node.js, and PHP, along with platforms such as Next.js, WordPress, and Shopify, I design advanced solutions for automated keyword analysis, backlink audits, and competitive research. By integrating tools like Screaming Frog, Google Analytics, and Ahrefs, I streamline data collection and enhance insights to improve search rankings and user experience. I am dedicated to delivering impactful, data-driven solutions that empower businesses to thrive in today’s competitive digital landscape.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>With a strong foundation in both strategy and execution, my expertise spans Technical SEO and search engine marketing. From optimizing site architecture and on-page elements to developing custom SEO tools and scrapers, I design solutions that drive measurable results. By leveraging advanced tools like Google Analytics, Ahrefs, and Screaming Frog, I ensure seamless integration of SEO and SEM strategies that improve search rankings, drive traffic, and boost conversions for businesses in a competitive digital landscape.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
