---
import BaseLayout from '../layouts/BaseLayout.astro';
import { GoogleAnalytics } from 'astro-google-analytics';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Ryan Rushlow" description="Get to know me a bit!">
	<div class="stack gap-20">
		<main class="wrapper about">
			<GoogleAnalytics id="G-R1P90M9MKE" />
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/coder.png"
					alt="Ryan deep coding"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a passionate freelance web developer with a strong focus on creating user-friendly, visually appealing websites and applications that deliver results. My journey began with a dedication to mastering web design and development, and over the years, I’ve honed my skills in building scalable solutions while incorporating search engine optimization (SEO) to help businesses grow their online presence.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Tools I Use</h2>
				<div class="content">
					<p>I work with a comprehensive tech stack that includes PHP, Node.js, and Python for back-end development, and Next.js, Tailwind CSS, Bootstrap, jQuery, and Liquid for creating responsive and interactive front-end designs. I also specialize in platforms like WordPress and Shopify, offering custom theme and plugin development. Automation tools are a key part of my workflow, enabling me to streamline processes and improve efficiency for my clients.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>With a focus on both technical and creative aspects, I excel in web development, SEO, and automation. My skill set includes building responsive websites, implementing custom coding solutions, and integrating SEO best practices to ensure optimal search engine performance. I am committed to delivering innovative, high-quality solutions that meet client goals and adapt to the ever-changing digital landscape.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
