---
import BaseLayout from '../layouts/BaseLayout.astro';


import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Ryan Rushlow" description="Get to know me a bit!">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by! Take a gander, get to know me."
			>
				<img
					width="1553"
					height="873"
					src="/assets/coder.png"
					alt="Ryan deep coding"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						
I am a passionate digital marketer with extensive experience in building, executing, and maintaining enterprise-level marketing campaigns. My expertise spans email marketing, programming, SEO, and Google Ads, allowing me to create scalable, data-driven strategies that deliver measurable results. From developing automated email workflows and custom-coded web scrapers to optimizing search rankings and managing high-performing ad campaigns, I combine technical precision with creative marketing tactics to drive sustainable growth. My goal is to help businesses expand their reach, boost engagement, and achieve long-term success in competitive markets.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Tools I Use</h2>
				<div class="content">
					<p>I utilize a robust tech stack for lead generation, marketing automation, and campaign optimization. For web scraping and automation, I use Python (BeautifulSoup, Scrapy, Selenium) and tools like Zapier and HubSpot for efficient workflow automation. For email marketing, I use my own custom built email management platform. My SEO expertise includes SEMrush, Ahrefs, and Google Analytics for comprehensive keyword research and performance tracking. In Google Ads, I craft data-driven campaigns, optimizing performance through Google Ads Manager and Google Tag Manager. This powerful combination ensures scalable, results-driven marketing strategies.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>With a focus on both strategy and execution, I specialize in marketing automation, Google Ads, and email marketing. I excel at designing automated workflows that streamline lead generation and nurture campaigns. I am committed to delivering impactful, results-driven solutions that help businesses grow in today’s competitive digital landscape.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
