---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>Proficient in building scalable, high-performance web applications using technologies like Next.js, Node.js, PHP, WordPress, and Shopify, ensuring seamless frontend and backend integration for an optimal user experience.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>SEO Mastery</h2>
		<p>I’m obsessed with SEO and driven by results. I design tailored strategies that boost visibility and skyrocket website traffic. By using cutting-edge tools like Google Analytics, SEMrush, and Ahrefs, I dive deep into search trends, optimize on-page and off-page factors, and deliver powerful results that put you ahead of the competition. Let’s dominate search rankings together!</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Strategy-Minded</h2>
		<p>Skilled in crafting SEO-optimized, user-centric strategies that improve web performance and drive traffic, while leveraging data analytics and conversion optimization techniques to enhance client growth and success.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
