---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Programmatic</h2>
		<p>Proficient in building scalable, high-performance web applications and marketing solutions using technologies like Next.js, Node.js, Python, PHP, WordPress, and Shopify. I specialize in integrating seamless front-end and back-end systems, developing enterprise-grade Mail Transfer Agents, and automating marketing workflows. My expertise bridges the gap between robust technical development and strategic marketing automation, delivering optimal functionality and exceptional user experiences.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Data-Driven</h2>
		<p>I’m passionate about growth marketing and driven by results. With expertise in Google Ads, email marketing, and SEO, I design innovative strategies that don’t just drive traffic—they deliver sustainable, high-quality leads. Leveraging cutting-edge tools like Google Analytics, SEMrush, and Ahrefs, I analyze trends, optimize campaigns, and implement unconventional tactics to give you a competitive edge. Let’s push boundaries, dominate search rankings, and scale your success together!</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Strategy-Minded</h2>
		<p>Experienced in creating comprehensive SEO strategies that combine on-page and off-page optimization. I specialize in user-centric content, site architecture, and meta tag optimization while building high-quality backlinks and managing outreach campaigns. Using an array of tools, I track performance, drive traffic, and enhance client growth through data-driven, conversion-focused strategies. Simply put; I ensure every strategy is designed to not only drive traffic but also boost engagement and client success.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
